<!DOCTYPE>
<html lang="sl_SI">
<% include header.ejs %>

	<body>

		<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<div class="container">

			<div class="row" style="margin-top:20px;">
				<div class="brand">
					<a href="/"><h5><i class="fa fa-shopping-cart"></i> utripStore :)</h5></a>
				</div>
				<a class="button button-primary u-pull-right"><i class="fa fa-shopping-cart"></i> Cart <span class="simpleCart_total"></span></a>
			</div>
			<div class="row">
				<div class="column">
					<div class="simpleCart_shelfItem">
						<div class="four columns">
							<img src="/uploads/<%- item.coverImage %>" class="item-thumb" />
						</div>
						<div class="eight columns">
							<h5 class="item-title"><%- item.title %></h5>
							<p>
								<%- item.body %>
							</p>
							<span class="item-price"><%- item.price %> €</span>
							<div class="qty">
								<label>QTY</label>
								<input type="number" class="item-quantity" step="1" min="1" value="1">
							</div>

							<a class="item-add button u-pull-right">Add to Cart</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Cart
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<div>
				<div id="cart">
					<h2>Cart</h2>
					<div class="row">

						<div class="eight columns">
							<div class="simpleCart_items">
								<div>
									<div class="headerRow">
										<div class="item-cart-name">Name</div>
										<div class="item-cart-price">Price</div>
										<div class="item-cart-quantity">Qty</div>
										<div class="item-cart-total">SubTotal</div>
										<div class="item-cart-remove"></div>
									</div>
								</div>
							</div>
							<div class="cta-container">
								<div class="cta-button button">Hire me!</div>
								<br/>
								<div class="form-container">
									<form>
										<div class="form-block u-pull-left">
											<div class="label-container">
												<label>Name</label>
											</div>
											<input id="name" name="name" class="form-element" type="text" />
										</div>
										<div class="form-block">
											<div class="label-container">
												<label>Surname</label>
											</div>
											<input id="surname" name="surname" class="form-element" type="text" />
										</div>
										<div class="form-block">
											<div class="label-container">
												<label>Email</label>
											</div>
											<input id="email" name="email" class="form-element" type="email" />
										</div>
										<div class="form-block">
											<div class="label-container">
												<label>Address</label>
											</div>
											<textarea id="address" name="address" class="form-element" /></textarea>
										</div>
										<div class="form-block">
											<div class="label-container">
												<label>Comments</label>
											</div>
											<textarea id="comment" name="comment" class="form-element"></textarea>
										</div>
									</form>

									<div type="submit" class="submit-button button">Submit</div>

								</div>
							</div>
						</div>

						<div class="four columns">
							<div class="cart_info">
								<div class="cart_info_item cart_itemcount">Items:
									<div class="simpleCart_quantity">0</div>
								</div>
								<div class="cart_info_item cart_taxrate">Tax Rate:
									<div class="simpleCart_taxRate">22 %</div>
								</div>
								<div class="cart_info_item cart_tax">Tax:
									<div class="simpleCart_tax">0</div>
								</div>
								<div class="cart_info_item cart_shipping">Shipping:
									<div class="simpleCart_shipping">Free</div>
								</div>
								<div class="cart_info_item cart_total"><b>Total: <div class="simpleCart_grandTotal">0</div></b></div>
							</div>
						</div>

						<a class="simpleCart_empty button u-pull-left">Empty Cart <i class="fa fa-trash-o"></i></a>
						<a href="javascript:;" class="button button-primary simpleCart_checkout u-pull-right">Checkout <i class="fa fa-arrow-right"></i></a>

					</div>
				</div>
			</div>

			<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	</body>
	<script>
		var id = '<%- item.id %>';
	</script>

	<% include footer.ejs %>

</html>