<!DOCTYPE>
<html lang="sl_SI">
<% include header.ejs %>

	<body>

		<!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
		<div class="container">

			<div class="row" style="margin-top:20px;">
				<div class="brand">
					<a href="/"><h5>utripStore</h5></a>
				</div>
				<a class="button button-primary u-pull-right cart-button"><i class="fa fa-shopping-cart"></i> Cart <span class="simpleCart_total"></span></a>
			</div>
			<div class="row shelf-item">
				<div class="column">
					<div class="simpleCart_shelfItem">
						<div class="four columns">
							<img src="/uploads/<%- item.coverImage %>" class="item-thumb" />
						</div>
						<div class="eight columns">
							<h5 class="item-title"><%- item.title %></h5>
							<p>
								<%- item.body %>
							</p>
							<span class="item-price"><%- item.price %> €</span>
							<div class="qty">
								<label>QTY</label>
								<input type="number" class="item-quantity" step="1" min="1" value="1">
							</div>

							<a class="item-add button u-pull-right">Add to Cart</a>
						</div>
					</div>
				</div>
			</div>

			<!-- Cart
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
				<div id="cart" class="hidden">
					<h2>Cart</h2>
					<a class="close">×</a>
					<div class="row">

						<div class="eight columns">
							<div class="simpleCart_items">
								<div>
									<div class="headerRow">
										<div class="item-cart-name">Name</div>
										<div class="item-cart-price">Price</div>
										<div class="item-cart-quantity">Qty</div>
										<div class="item-cart-total">SubTotal</div>
										<div class="item-cart-remove"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="four columns">
							<div class="cart_info">
								<div class="cart_info_item cart_itemcount">Items:
									<div class="simpleCart_quantity">0</div>
								</div>
								<div class="cart_info_item cart_taxrate">Tax Rate:
									<div class="simpleCart_taxRate">22 %</div>
								</div>
								<div class="cart_info_item cart_tax">Tax:
									<div class="simpleCart_tax">0</div>
								</div>
								<div class="cart_info_item cart_shipping">Shipping:
									<div class="simpleCart_shipping">Free</div>
								</div>
								<div class="cart_info_item cart_total"><b>Total: <div class="simpleCart_grandTotal">0</div></b></div>
							</div>
						</div>

						<a class="simpleCart_empty u-pull-left">Empty Cart <i class="fa fa-trash-o"></i></a>
						<a href="/checkout" class="button button-primary u-pull-right">Checkout <i class="fa fa-arrow-right"></i></a>

					</div>
				</div>
		</div>
		<div class="notify hidden">
            <p class="notify_text">Item added to cart</p>
		</div>

			<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
	</body>
	<script>
		var id = '<%- item.id %>';
	</script>

	<% include footer.ejs %>

</html>